<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>🙌家务计划</title>
</head>
<body>
<h1>🙌家务计划</h1>
<br>
<div>
    <br>
    <h3>最新任务分配时间</h3>
    <h3 th:text="${planResponse.getDistributeTimeStr()}+'(将于每周日晚间自动分配)'" ></h3>

    <br>
    <br>
    <br>
    <table width="50%" align="center">
        <tr>
            <td>
                <table width="50%" align="center">
                    <thead>
                    <tr>
                        <th th:width="200">👨‍🦯老公家务</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="planDetailsResponse:${planResponse.getPlanDetailsResponseList()}"
                        th:if="${planDetailsResponse.getPeopleName()=='老公'}">
                        <td th:text="${planDetailsResponse.getHouseworkName()}"></td>
                    </tr>
                    </tbody>
                </table>

            </td>

            <td>
                <table  width="50%" align="center">
                    <thead>
                    <tr>
                        <th th:width="200">👩‍🦯老婆家务</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="planDetailsResponse:${planResponse.getPlanDetailsResponseList()}"
                        th:if="${planDetailsResponse.getPeopleName()=='老婆'}">
                        <td th:text="${planDetailsResponse.getHouseworkName()}"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>

    </table>



</div>
</body>
<style>
    body {
        color: white;
        background: orange;
        text-align: center;
    }
</style>
</html>